<tr>
    <td>1</td>
    <td>Dada</td>
    <td>Red</td>
    <td>2019</td>
    <td>Argentina</td>
    <td>Fincas</td>
    <td>11.00</td>
    <td>
        <a href="/update-wine" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-edit"></i></span>
        </a>
        <a href="#" class="btn border-shadow delete">
            <span class="text-gradient"><i class="fas fa-trash-alt"></i></span>
        </a>
    </td>
</tr>